<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'hab/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'hab/js/bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'hab/js/jquery/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'hab/js/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <style>

    </style>
</head>
<body>
    <!--导航部分开始-->
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/hab/index/">项目首页面</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/hab/login/">登录</a></li>
            <li class="active"><a href="/hab/register/">注册</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入您要搜索的关键字">
            </div>
            <button type="submit" class="btn btn-sm btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/hab/user_list/">用户列表</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户操作 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">个人中心</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">用户头像</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">退出登录</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--导航部分结束-->

    <!--页面主体部分开始-->
    <div class="container">
        <div class="page-header">
            <div class="jumbotron">
              <h1>图片轮播</h1>
              <p>第一张图片</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">用户信息</div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                          <img src="{% static 'hab/img/default.gif' %}" alt="用户头像" class="img-circle avatar center-block">
                      </li>
                      <li class="list-group-item">
                          用户名称：xxx
                      </li>
                      <li class="list-group-item">
                          用户性别：男
                      </li>
                      <li class="list-group-item">
                          用户昵称：xxxx
                      </li>
                    </ul>
                  </div>
                </div>
            </div>


            <div class="col-md-9">
                <div class="panel panel-primary">
                  <div class="panel-heading">用户注册</div>
                  <div class="panel-body">
                      <h4 style="color: red">{{msg}}</h4>

                      <form class="form-horizontal" action="/hab/register/" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名称</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="username" id="username" placeholder="用输入您的用户名称">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">用户密码</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" name="password" id="password" placeholder="用输入您的用户密码">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="confirmpwd" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" name="confirmpwd" id="confirmpwd" placeholder="请确认您的密码">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="nickname" class="col-sm-2 control-label">用户昵称</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="nickname" id="nickname" placeholder="用输入您的用户昵称（可以是中文）">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-lg btn-danger">用户注册</button>
                            </div>
                          </div>
                        </form>
                  </div>
                </div>
            </div>
        </div>


    </div>
    <!--页面主体部分结束-->

    <!--页面尾部开始-->
    <div class="container">
        <ul class="list-inline">
            <li><a href="#">友情链接1</a></li>
            <li><a href="#">友情链接2</a></li>
            <li><a href="#">友情链接3</a></li>
            <li><a href="#">友情链接4</a></li>
            <li><a href="#">友情链接5</a></li>
            <li><a href="#">友情链接6</a></li>
            <li><a href="#">友情链接7</a></li>
        </ul>
    </div>

    <!--页面尾部结束-->

</body>
</html>