{% extends 'base.html' %}
{%load staticfiles%}

{% block body %}
<div id="logincon" style="margin-top:200px">
    <div class="logincon_main">
        <div class="register_box" style="height:1200px;">
            <div class="tabForm fl" style="height:1200px;width:970px">
                <div class="wrapform" style="margin-top:10px;height:1200px;width:970px">
                    <div class="wrapformbox" style="width:970px">
                        <div class="form_box" style="width:970px">

                            {% if query %}
                            <h3>搜索结果如下：</h3>

                            <span style="margin-left:34px;margin-right:130px;font-size:15px;font-weight:700">商品名称</span>
                            <span style="margin-right:110px;font-size:15px;font-weight:700">商品图片</span>
                            <span style="margin-right:130px;font-size:15px;font-weight:700">商品简介</span>
                            <span style="font-size:15px;font-weight:700">商品详情</span>
                            {% for result in page.object_list %}
                            <table style="border: 1px solid #151515;width:800px">
                                <tbody>
                                <tr>
                                    <td style="width:50px;font-size:18px">{{ forloop.counter }}.</td>
                                    <td style="width:140px;font-size:22px">
                                        <a href="{% url 'books:details' result.object.id %}">{{ result.object.name }}</a></td>
                                    <td style="width:300px;"><img style="width:200px;height:130px"
                                                                  src="/static/{{ result.object.image }}" alt=""></td>
                                    <td style="width:300px;font-size:14px">{{ result.object.desc }}</td>
                                    <td style="width:300px;font-size:14px">{{ result.object.detail|safe }}</td>
                                </tr>
                                </tbody>
                                <br>
                            </table>
                            {% empty %}
                            <p>啥也没找到</p>
                            {% endfor %}

                            {% if page.has_previous or page.has_next %}
                            <div>
                                {% if page.has_previous %}<a
                                    href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;
                                上一页{% if page.has_previous %}</a>{% endif %}
                                |
                                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{%
                                endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}

{% endblock %}