{% extends 'base.html' %}
{% load staticfiles %}
{% block sty %}
<head>
    <meta charset="UTF-8">
    <title>购物车-购酒网</title>

    <link rel="stylesheet" href="{% static 'js/bootstrap-3.3.7-dist/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'car/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'car/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'car/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'car/css/carts.css' %}">
    <link rel="stylesheet" href="{% static 'select/bootstrap-select.min.css' %}">
    <link rel="icon" href="http://www.gjw.com/favicon.ico" type="image/ico">
    <script src="{% static 'car/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'car/js/addshopcart_aj2.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'select/i18n/defaults-zh_CN.min.js' %}"></script>
</head>
{% endblock %}
{% block body %}
<div id="indexcon" style="width: 960px;position:relative;top:50px">
    <div class="cart_title" style="position:relative;left:-100px">
        <h1 class="fl " style="position:relative;left:-800px;top:40px">
            我的购物车</h1>
        <div id="shipping_area_top" class="fl" style="position:relative;left:90px;">
            <b>单笔订单满100元免运费（香港、澳门、台湾、钓鱼岛地区和拆分订单除外）</b></div>
    </div>
    <!-- begin -->

    <section class="cartMain" style="position:relative;left:-120px">
        <div class="cartMain_hd" style="position:relative;top:30px">
            <ul class="order_lists cartTop">
                <li style="position:relative;left:-300px;margin-right:50px">商品信息</li>
                <li style="position:relative;left:-120px;margin-right:50px">商品参数</li>
                <li style="margin-right:50px">单价</li>
                <li style="position:relative;left:65px;margin-right:50px">数量</li>
                <li style="position:relative;left:95px;">金额</li>
            </ul>
        </div>
        <form action="/order/success/" method="post" name="sc_1" id="myform" style="position:relative;top:40px"
              onsubmit="return verify()">
            {% csrf_token %}
            <div class="cartBox">
                <div class="order_content">
                    {% for sc in request.session.shopcarts %}
                    <ul class="order_lists">
                        <li class="list_con" style="position:relative;left:40px">
                            {% if sc.books.image %}
                            <div class="list_img"><a href="javascript:;"><img src="/static/{{sc.books.image}}"
                                                                              alt=""></a></div>
                            {% endif %}
                            <div class="list_text"
                                 style="position:relative;left:50px;top:20px;font-size:15px;font-weight:700"><a
                                    href="javascript:;">{{sc.books.name}}</a></div>
                        </li>
                        <li class="list_info">
                            <p>规格：默认</p>
                            <p>尺寸：16*16*3(cm)</p>
                        </li>
                        <li class="list_price">
                            <p class="price" id="price_{{sc.id}}">￥{{sc.books.price}}</p>
                        </li>
                        <li class="list_amount">
                            <div class="amount_box">
                                <input type="text" name="count_{{sc.id}}" value="{{sc.count}}" class="sum"
                                       id="input_{{sc.id}}">
                            </div>
                        </li>
                        <li class="list_sum">
                            <p class="sum_price" id="total_{{sc.id}}">￥{{sc.allTotal}}</p>
                        </li>
                    </ul>
                    {% empty %}

                    <ul> 购物车空空如也~</ul>


                    {% endfor %}

                </div>

                <!--底部-->
                <div class="bar-wrapper">
                    <div class="bar-right">
                        <div class="piece">已选商品<span class="piece_num" id="sum_num">0</span>件</div>
                        <div class="totalMoney">共计: <strong class="total_text" id="sum_price">0.00</strong></div>
                        <div class="calBtn"><a  id="go_confirm"
                                               style="cursor:pointer;background-color:#B22222;">结算</a>
                        </div>
                        <input type="submit" hidden id="sub">
                    </div>
                </div>
            </div>

            <input type="text" name="address" id="address" value="">
            <script>
                $('#go_confirm').click(function(){
                    var i=0
                    $("input[name=radio]").each(function(){
                        if(this.checked){
                            // alert(this.value)
                            var address_id=this.value;
                            $("#address").val(address_id);
                            $('#sub').click();
                            i=1;
                        }
                    });
                    if (i==0){
                        alert("请选择地址")
                        return false;
                    }
                });
            </script>
        </form>
    </section>
</div>

<div style="position:relative;left:350px;width:1200px;height:200px;">
    <!-- 按钮触发模态框 -->
    <button style="width:180px;height:50px;color:white;cursor:pointer;background-color:#B22222;
    text-align:center;font-size:15px" data-toggle="modal" data-target="#myModal">选择地址
    </button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">选择地址</h4>
                </div>
                <div class="modal-body">
                    {% for i in address %}
                    <div class="cateBox bdbox address"
                         style="position:relative;width:180px;height:120px;display:inline-block;text-align:center">
                        <input type="radio" name="radio" value="{{i.id}}" class="pull-left">
                        <br>
                        <p style="font-size:14px;font-weight:700">
                            收货人：{{i.recv_name}}</p>
                        <p style="font-size:14px;font-weight:900">
                            收货人电话：{{i.recv_tel}}</p>
                        <p style="font-size:14px;font-weight:900">
                            省份：{{i.province}}</p>
                        <p style="font-size:14px;font-weight:900">
                            城市：{{i.city}}</p>
                        <p style="font-size:14px;font-weight:900">
                            辖区：{{i.area}}</p>
                        <p style="font-size:14px;font-weight:900">
                            具体街道:{{i.desc}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn " data-dismiss="modal">关闭</button>
                    <button type="button" class="btn " id="chooseAddress">确定</button>
                </div>

                <script>
                    $("#chooseAddress").click(function(){
                        $("input[name=radio]").each(function(){
                            if(this.checked){
                                $('#myModal').modal('hide')
                            }
                        });
                    })




                </script>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 按钮触发模态框 -->
    <button style="width:180px;height:50px;color:white;cursor:pointer;background-color:#B22222;
    text-align:center;font-size:15px" data-toggle="modal" data-target="#myModal2">新建地址
    </button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新建地址</h4>
                </div>
                <form action="{% url 'order:createAddress'%}" method="post"
                      style="margin-left:190px" name="addressForm">
                    {% csrf_token %}
                    <select class="selectpicker" id="province" name="province">
                        <option value="">请选择省份</option>
                        {% for p in provinces %}
                        <option value="{{p.provinceid}}">{{p.province}}</option>
                        {% endfor %}
                    </select>
                    <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                $("#province").change(function(){ 
                var p=$('#province option:selected').val()
                $.ajax({
                    url:"/getCity/",
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}',"provinceid":p},
                    cache:"false",
                    async:"true",
                    type:"post",
                    success:function(data){
                        var city_dict=data
                        city_list=Object.keys(city_dict)
                        var cityTag=document.getElementById("city");
                        cityTag.options.length = 0;
                        for (i=0;i<=city_list.length ;i++){
                            cityTag.add(new Option(city_dict[city_list[i]],city_list[i]))
                        }
                        $('#city').selectpicker('refresh');
                    },
                    error:function(){
                        alert("服务器端异常");
                    }
                });
            })
            })




                    </script>
                    <br>
                    <br>
                    <br>
                    <select class="selectpicker" id="city"
                            name="city">
                        <option value="">请选择城市</option>
                    </select>
                    <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                $("#city").change(function(){ 
                var c=$('#city option:selected').val()
                $.ajax({
                    url:"/getArea/",
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}',"cityid":c},
                    cache:"false",
                    async:"true",
                    type:"post",
                    success:function(data){
                        var area_dict=data
                        area_list=Object.keys(area_dict)
                        var areaTag=document.getElementById("area");
                        areaTag.options.length = 0;
                        for (i=0;i<=area_list.length ;i++){
                            areaTag.add(new Option(area_dict[area_list[i]],area_list[i]))
                        }
                        $('#area').selectpicker('refresh');
                    },
                    error:function(){
                        alert("服务器端异常");
                    }
                });
            })
            })

                    </script>
                    <br>
                    <br>
                    <br>
                    <select class="selectpicker" id="area" name="area">
                        <option value="">请选择辖区</option>
                        {% for a in areas %}
                        <option value="{{a.areaid}}">{{a.area}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <br>
                    <textarea name="position" id="position" cols="33" rows="4"
                              style="" placeholder="请输入具体位置"></textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-dismiss="modal">关闭</button>
                        <button type="button" class="btn " id="createAddress">确定</button>
                    </div>
                </form>
                <script>
                    $("#createAddress").click(function(){
                        var isFinish=1
                        $(".selectpicker").each(function(){
                            if(this.value){
                                return true;
                            }
                            else{
                                alert("请完整选择地址")
                                isFinish=0
                                return false;
                            }
                        });
                        if (isFinish==1){
                            document.addressForm.submit();
                        }
                    })

                </script>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

    </div>
</div>

{# 生成order，对sale进行累加 session中有shopcart，所以只需要接收地址 #}


<!-- end -->
<dl class="trinket_box" id="end" style="position:relative;top:650px;left:350px;width:1200px;height:1100px">
    <dt><span>你可能还需要</span></dt>
    <dd>
        <ul id="b1">
            <li class="goods_pic"><a href="#">
                <img src="/static/goods/img/c1.jpg" height="100" width="100"></a>
            </li>
            <li class="goods_name"><a href="#">
                53度 茅台 飞天带杯（2016年产）500ml</a>&nbsp;&nbsp;<span class="cf04"></span>
            </li>
            <li class="goods_price">999</li>
            <li class="goods_btn"><a id="addToCat2" class="fl cbtn putin_btn AddCart" href="#" index="2">
                加入购物车</a>
            </li>
        </ul>
        <ul id="b2">
            <li class="goods_pic"><a href="#" target="_blank" title="52度 五粮液 500ml">
                <img src="/static/goods/img/c2.jpg" height="100" width="100"></a>
            </li>
            <li class="goods_name"><a href="#" target="_blank" title="52度 五粮液 500ml">
                52度 五粮液 500ml</a>&nbsp;&nbsp;<span class="cf04"></span>
            </li>
            <li class="goods_price">728</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:;" index="14">
                加入购物车</a>
            </li>
        </ul>
        <ul id="b3">
            <li class="goods_pic"><a href="#">
                <img alt="52度 剑南春 500ml" src="/static/goods/img/c3.jpg" height="100" width="100"></a>
            </li>
            <li class="goods_name"><a href="#">
                52度 剑南春 500ml</a>&nbsp;&nbsp;<span class="cf04">限时特惠 欲购从速</span></li>
            <li class="goods_price">358</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:;" index="35">
                加入购物车</a>
            </li>
        </ul>
        <ul id="b4">
            <li class="goods_pic"><a href="#">
                <img src="/static/goods/img/c4.jpg" height="100" width="100"></a>
            </li>
            <li class="goods_name"><a href="#" target="_blank" title="52度 五粮液 1618 500ml">
                52度 五粮液 1618 500ml</a>&nbsp;&nbsp;<span class="cf04"></span>
            </li>
            <li class="goods_price">728</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="16">
                加入购物车</a>
            </li>
        </ul>
        <ul id="b5">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c5.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b6">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c6.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b7">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c7.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b8">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c8.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b9">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c9.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b10">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c10.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b11">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c11.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
        <ul id="b12">
            <li class="goods_pic"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                <img alt="53度 茅台 迎宾酒 500ml*6瓶" src="/static/goods/img/c12.jpg" height="100" width="100"></a></li>
            <li class="goods_name"><a href="#" target="_blank" title="53度 茅台 迎宾酒 500ml*6瓶">
                53度 茅台 迎宾酒 500ml*6瓶</a>&nbsp;&nbsp;<span class="cf04">下单立减100元 多买多减</span></li>
            <li class="goods_price">420</li>
            <li class="goods_btn"><a class="fl cbtn putin_btn AddCart" href="javascript:" index="4098">
                加入购物车</a></li>
        </ul>
    </dd>
</dl>


{% endblock %}