{% extends 'base.html' %}
{% block title%}用户登录{% endblock%}

{% block body %}
<div id="logincon">
    <div class="logincon_main">
        <div class="loginBox">
            <div class="loginpic fl">
                <a href="javascript:;"><img src="/static/goods/img/loginpic.jpg" alt=""></a>
            </div>
            <div class="login_inner fr">
                <div class="login_innercon">
                    <form method="post" name="login_form" class="login_form" action="{% url 'users:login' %}">
                        <div class="formBox">
                            {% csrf_token %}
                            <div class="formtit">
                                <i class="man"></i>
                                登录
                            </div>
                            <div class="form_textbox">
                                <input required type="text" id="username" name="username" placeholder="邮箱/手机号码">
                            </div>
                            <div class="form_textbox">
                                <input required type="password" id="pwd" name="password" placeholder="密码">
                            </div>
                            {% if request.session.display %}
                            <div class="form_textbox" style="position:relative;">
                                <input required type="text"
                                       style="width:200px;height:40px; position:absolute; top:0px; " placeholder="验证码"
                                       name="verify_code">
                                <img style="height:40px;display:inline; margin-left:200px;" id="auth_code" src="{% url 'users:code' %}" alt="">
                                <script>
                                    $(document).ready(function () {
                                        var img = document.getElementById('auth_code');
                                        img.onclick=function(){
                                              $(this).attr("src", "/users/code/?id"+Math.random())
                                            }
                                    });
                                </script>
                            </div>
                            {% endif %}
                            <div class="login_auto">
                                <div class="fl loginautol">
                                    <input id="autologin" name="autologin" type="checkbox">自动登录
                                </div>
                                <a href="#" class="fr">忘记密码</a>

                            </div>
                            <input class="loginBtn" id="btnSubmit" value="登&nbsp;录" type="submit">
                            <div>
                                <span style="color:red;">{{msg}}</span>
                            </div>
                        </div>
                        <div class="dashedLine"></div>
                        <div class="other_login">
                            使用合作账号登录<br>
                            <a href="javascript:;" class="qq"></a>
                            <a href="javascript:;" class="zhifubao"></a>

                        </div>
                    </form>
                </div>
                <a class="resg" href="{% url 'users:register' %}">注册新帐号</a>
            </div>
        </div>

    </div>
</div>
{% endblock%}
